<html>
	<head>
		<meta charset="UTF-8">
		<title>Leitura</title>
	</head>
	
	<body>
		<div>
			<div>Nome: <span th:text="nome"></span> </div>
			<div>Preço: <span th:text="preco"></span> </div>
			<div>Data: <span th:text="data"></span> </div>
			<div>Autor: <span th:text="autor"></span> </div>
			<div>Páginas: <span th:text="paginas"></span> </div>
			<div>Categoria: <span th:text="categoria"></span> </div>
			<div>Descrição: <span th:text="descricao"></span> </div>
			<div>Link: <span th:text="link"></span> </div>
			
			<div><img src=""></div>
		</div>
	</body>
</html>