<html>
	<head th:replace="~{base :: head}"></head>
	
	<body>
		<header th:replace="~{base :: header}"></header>
			
		<div class="container my-5">
			
			<div class="jumbotron text-bg-info p-5 text-center mt-3">
				<h2 class="display-4 text-light">Login</h2>
			</div>
		
			<div class="card text-bg-light mb-4 mt-4">
				<form th:action="@{/login}" method="post" class="card-body">
		            <div class="form-group mb-3 form-group">
						<label class="form-label" for="username">Usuário:</label>
						<input name="username" class="form-control" type="text" placeholder="Seu usuário">
						<small>Digite o seu nome de usuário</small>
					</div>
					
					<div class="form-group mb-3 form-group">
						<label class="form-label" for="password">Senha:</label>
						<input name="password" class="form-control" type="password" placeholder="Sua senha">
						<small>Digite a sua senha cadastrada</small>
					</div>
					<button class="btn btn-primary btn-lg mb-2" type="submit">Entrar</button>
					<p>Ainda não possui cadastro? <a class="text-primary"  href="/cadastro">Criar conta</a></p>
	        	</form>
			</div>
		</div>
		
		<footer th:replace="~{base :: footer}"></footer>
	</body>
</html>