<html>
	<head>
		<meta charset="UTF-8">
		<title>Leitura</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
		
		<style type="text/css">
			h1 {
				font-family: 'Fasthand', cursive;
			}
			
			.fw-semibold, .fw-normal, .btn-primary, .h2 {
				font-family: 'Libre Baskerville', serif;
			}
			
			.navbar-nav {
				font-family: 'Noto Nastaliq Urdu', serif;
			}
			
			header, footer {
				padding: 60px;
				background: #F0FFFF;
			}
			
			a {
				text-decoration: none;
				color: black;
			}
		</style>
	</head>
	
	<body>
		<header th:replace="~{base :: header}"></header>
		
		<div class="container my-5">
			<div class="jumbotron mb-0 text-bg-info p-5 text-center mt-3 mb-3">
				<h2 class="display-4 text-light">Novo Livro</h2>
			</div>
			
			<div class="card">
			
				<form th:object="${requisicaoNovoLivro}" class="card-body" action="/livro/novo" method="POST">
			
						<div class="form-group mb-3">
							<label class="form-label" for="nome">Nome:</label>
							<input th:field="*{nome}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Nome do livro">
							<small>Digite o nome do livro</small>
							<div class="invalid-feedback" th:errors="*{nome}"></div>
						</div>
						
						<div class="form-group mb-3">
							<label class="form-label" for="preco">Preço:</label>
							<input th:field="*{preco}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Preço do livro">
							<small>Digite o preço do livro</small>
							<div class="invalid-feedback" th:errors="*{preco}"></div>
						</div>
						
						<div class="form-group mb-3">
							<label class="form-label" for="data">Data:</label>
							<input th:field="*{data}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Data do livro">
							<small>Digite a data de lançamento do livro</small>
							<div class="invalid-feedback" th:errors="*{data}"></div>
						</div>
						
						<div class="form-group mb-3">
							<label class="form-label" for="autor">Autor:</label>
							<input th:field="*{autor}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Nomo do autor">
							<small>Digite o nome do autor do livro</small>
							<div class="invalid-feedback" th:errors="*{autor}"></div>
						</div>
						
						<div class="form-group mb-3">
							<label class="form-label" for="paginas">Páginas:</label>
							<input th:field="*{paginas}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Páginas do livro">
							<small>Digite a quantidade de páginas do livro</small>
							<div class="invalid-feedback" th:errors="*{paginas}"></div>
						</div>
						
						<div class="form-group mb-3">
							<label class="form-label" for="categoria">Categoria:</label>
							<input th:field="*{categoria}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Categoria do livro">
							<small>Digite a categoria a qual o livro pertence</small>
							<div class="invalid-feedback" th:errors="*{categoria}"></div>
						</div>
						
						<div class="form-group mb-3">
							<label class="form-label" for="link">Link:</label>
							<input th:field="*{link}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Link do livro">
							<small>Copie e cole a URL do livro aqui</small>
							<div class="invalid-feedback" th:errors="*{link}"></div>
						</div>
						
						<div class="form-group mb-3">
							<label class="form-label" for="descricao">Descrição:</label>
							<textarea th:field="*{descricao}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Descrição do livro"></textarea>
							<small>Digite a descrição do livro</small>
							<div class="invalid-feedback" th:errors="*{descricao}"></div>
						</div>
						
						<div class="form-group mb-3">
							<label class="form-label" for="linkImagem">Link da Imagem:</label>
							<input th:field="*{linkImagem}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Link da imagem">
							<small>Copie e cole a URL da imagem do livro aqui</small>
							<div class="invalid-feedback" th:errors="*{linkImagem}"></div>
						</div>
						<button class="btn btn-primary btn-lg" type="submit">Cadastrar</button>
				</form>
			</div>
		</div>
		<footer>
			<div class="container text-center">
				<h1 class="mb-5">Leitura</h1>
				<nav>
					<div class="d-flex justify-content-center">
						<a class="mx-4" nav-link active href="/home">Sobre</a> 
						<a class="mx-4" nav-link active href="/home">Contato</a>
						<a class="mx-4" nav-link active href="/home">Livros</a> 
						<a class="mx-4" nav-link active href="/home">Redes Sociais</a>
					</div>
				</nav>
			</div>
		</footer>
	</body>
</html>