<html>
	<head>
		<meta charset="UTF-8">
		<title>Leitura</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
		
		<style type="text/css">
			h1 {
				font-family: 'Fasthand', cursive;
			}
			
			.fw-semibold, .fw-normal, .btn-primary, .h2 {
				font-family: 'Libre Baskerville', serif;
			}
			
			.navbar-nav {
				font-family: 'Noto Nastaliq Urdu', serif;
			}
			
			header {
				padding: 60px;
				background: #F0FFFF;
			}
		</style>
	</head>
	
	<body>
		<header>
			<h1>Leitura</h1>
		</header>
		
		<div class="container text-bg-info p-5 text-center mt-3 mb-3">
			<div class="jumbotron mb-0">
				<h2 class="display-4 text-light">Novo Livro</h2>
			</div>
		</div>
	</body>
</html>