<html>
	<head th:replace="~{base :: head}"></head>
	
	<body onload="onLoad()">
		<header th:replace="~{base :: header}"></header>
			
		<div class="container my-5" id="compras">
		
		<div class="jumbotron text-bg-info p-5 text-center mt-3">
			<h2 class="display-4 text-light">Últimos Pedidos</h2>
		</div>
		
		<div class="card text-bg-light mb-4 mt-4" v-for="livro in livros">
				<div class="card-header alert alert-info" >{{livro.nome}}</div>
				
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-8 mb-3">
							<div class="fw-semibold">
								Preço: <span class="fw-normal">{{livro.preco}}</span>
							</div>
							<div class="fw-semibold">
								Data: <span class="fw-normal">{{livro.data}}</span>
							</div>
							<div class="fw-semibold">
								Autor(a): <span class="fw-normal">{{livro.autor}}</span>
							</div>
							<div class="fw-semibold">
								Páginas: <span class="fw-normal">{{livro.paginas}}</span>
							</div>
							<div class="fw-semibold">
								Categoria: <span class="fw-normal">{{livro.categoria}}</span>
							</div>
							<div class="fw-semibold">
								Descrição: <span class="fw-normal">{{livro.descricao}}</span>
							</div>
							<div class="fw-semibold">
								Link: <span class="fw-normal" v-bind:href="livro.link"></span>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-4">
							<div>
								<img class="img-thumbnail" v-bind:href="livro.linkImagem">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			function onLoad() {
				var app = new Vue({
					el : '#compras',
					data : {
						compras : []
					}
				});
			}
		</script>
		
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</body>
	<footer th:replace="~{base :: footer}"></footer>
</html>